html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
  border: 5px solid gray;
  width: 99.4%;
  height: 98.9%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main {
  width: 100%;
  height: 95%;
  display: flex;
}
.main .main-page {
  width: 100%;
  height: 100%;
  display: flex;
}

.title {
  width: 100%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 226, 226);
}
.btnAdd {
  width: 6%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 150%;
  border-radius: 60%;
  margin-top: 1%;
}
.btnClicked {
  background-color: aliceblue;
}

/* 첫번째 페이지 */
.main-page.allStudent {
  flex-direction: row;
}

.main-page.allStudent .elementary,
.main-page.allStudent .middle,
.main-page.allStudent .high {
  flex: 1;
  border: 2px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.allStudent .studentFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4%;
  outline: 1px solid black;
}
.allStudent .orderFrame {
  flex: 1.5;
}
.allStudent .nameFrame {
  flex: 3;
}
.allStudent .schoolFrame {
  flex: 3;
}
.allStudent .ageFrame {
  flex: 1.5;
}
.allStudent .deleteFrame {
  flex: 1;
}
.allStudent .orderFrame,
.allStudent .nameFrame,
.allStudent .schoolFrame,
.allStudent .ageFrame,
.allStudent .deleteFrame {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allStudent .student {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4%;
  outline: 1px solid black;
}
.allStudent .order {
  flex: 1.5;
}
.allStudent .name {
  flex: 3;
}
.allStudent .school {
  flex: 3;
}
.allStudent .age {
  flex: 1.5;
}
.allStudent .delete {
  flex: 1;
  border: 0;
  padding: 0;
}
.allStudent .order,
.allStudent .name,
.allStudent .school,
.allStudent .age,
.allStudent .delete {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 두번째 페이지 */
.main-page.classStudent {
  flex-direction: row;
}
.main-page.classStudent .list {
  flex: 1;
  height: 100%;
  border: 1px solid blue;
}
.main-page.classStudent .content {
  flex: 9;
  height: 100%;
  border: 1px solid red;
}
.main-page.classStudent .content {
  display: flex;
  flex-direction: row;
}
.main-page.classStudent .content .section {
  flex: 1;
  height: 100%;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-page.classStudent .content .classTable {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 2%;
  border-bottom: none;
  z-index: 1000;
}
.main-page.classStudent .content .classTable.activeOutline:hover {
  border-bottom: 2px solid orange;
}
.main-page.classStudent .list .btnList {
  width: 100%;
  height: 5%;
}
.classStudent .studentFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4%;
  outline: 1px solid black;
}
.classStudent .classNameFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4%;
  outline: 1px solid black;
  background-color: rgb(231, 226, 226);
}
.classStudent .orderFrame {
  flex: 1.5;
}
.classStudent .nameFrame {
  flex: 3;
}
.classStudent .schoolFrame {
  flex: 3;
}
.classStudent .ageFrame {
  flex: 1.5;
}
.classStudent .deleteFrame {
  flex: 1;
}
.classStudent .orderFrame,
.classStudent .nameFrame,
.classStudent .schoolFrame,
.classStudent .ageFrame,
.classStudent .deleteFrame {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classStudent .addFrame {
  display: flex;
  align-items: center;
}
.classStudent .student {
  display: flex;
  flex-direction: row;
  width: 100%;
  outline: 1px solid black;
}
.classStudent .section.activeOutline:hover {
  border-top: 2px solid orange;
}
.classStudent .student.activeOutline:hover {
  border-bottom: 2px solid orange;
}
.classStudent .order {
  flex: 1.5;
}
.classStudent .name {
  flex: 3;
}
.classStudent .school {
  flex: 3;
}
.classStudent .age {
  flex: 1.5;
}
.classStudent .delete {
  flex: 1;
}
.classStudent .order,
.classStudent .name,
.classStudent .school,
.classStudent .age,
.classStudent .delete {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 세번째 페이지 */
.testStudent {
  display: flex;
  flex-direction: row;
}
.testStudent .list {
  flex: 1;
  height: 100%;
  border: blue 1px solid;
}
.testStudent .content {
  flex: 9;
  height: 100%;
  border: red 1px solid;

  display: flex;
  flex-direction: row;
}
.testStudent .content .section {
  flex: 1;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.testStudent .list .firstLine,
.testStudent .list .secondLine,
.testStudent .list .thirdLine {
  display: flex;
  flex-direction: row;
  height: 5vh;
}
.testStudent .list .thirdLine .btnAddTestTable {
  width: 100%;
}
.testStudent .list .btnList {
  flex: 1;
  height: 100%;
}
/*  */
.footer {
  width: 100%;
  height: 5%;
  background-color: rgb(231, 226, 226);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer-item {
  height: 95%;
  min-width: 6%;
  margin-right: 0.2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickedDiv {
  /* background-color: blue; */
  border: 2px solid blue !important;
}
.hide {
  display: none !important;
}
.draggable {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: grab;
  user-select: none;
}
